<style type="text/css">
  .header {
    background: #8a8a8a;
  }
  .header .columns {
    padding-bottom: 0;
  }
  .header p {
    color: #fff;
    padding-top: 15px;
  }
  .header .wrapper-inner {
    padding: 20px;
  }
  .header .container {
    background: transparent;
  }
  table.button.facebook table td {
    background: #3b5998 !important;
    border-color: #3b5998;
  }
  table.button.twitter table td {
    background: #1daced !important;
    border-color: #1daced;
  }
  table.button.google table td {
    background: #db4a39 !important;
    border-color: #db4a39;
  }
  .wrapper.secondary {
    background: #f3f3f3;
  }
</style>

<container>
  <spacer size="16"></spacer>

  <row>
    <columns small="12">
      <h1>Hi, <%= name %></h1>
      <p class="lead"><%= message %></p>
    </columns>
  </row>
</container>
